# Byte-compiled
__pycache__/
*.pyc
*.pyo
*.so

# Build artifacts
dist/
build/
*.egg-info/
/.flatpak-builder/

# Dependencies
uv.lock
.venv/
venv/

# Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage*
htmlcov/
